


DATABASE_URL= Your DataBase URL




PORT=BACKEND PORT



BCRYPT_SALT_ROUNDS=

JWT_ACCESS_SECRET="Your Access secret"
JWT_REFRESH_SECRET="Your Refresh Secret"
JWT_ACCESS_EXPIRES_IN="Your Access token Expired time"

JWT_REFRESH_EXPIRES_IN="Your Refresh token Expired time"

STRIPE_SECRET_KEY= Your Stripe Secret Key




CLIENT_URL=Your clien rl

SERVER_URL=your BACKEND Url